#about {
  padding: 2rem 0;
  section p:nth-child(1) {
    font-size: large;
    max-width: 20ch;
    font-style: italic;
    margin: auto;
  }
}

#about section {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
}
#courses {
  padding: 0 1rem;
  display: grid;
  p {
    padding: 0;
  }
  details {
    padding-top: 1rem;
  }
  li {
    padding: 10px 0;
  }
}
#work {
  padding: 2rem 0;
}
@media (min-width: 700px) {
  #about {
    p {
      margin: 0 auto;
      padding-top: 1rem;
    }
    article {
      text-align: center;
      padding: 2rem 0;
    }
  }
  #courses {
    grid-auto-flow: column;
    gap: 5px;
    min-height: 50vh;
  }
  #work {
    text-align: center;
    padding-bottom: 4rem;
  }
  #work p {
    margin: 0 auto;
  }
}
@media (min-width: 1000px) {
  article img {
    width: 50%;
  }
  #about section {
    padding: 3rem 0;
    grid-auto-flow: column;
  }
}
@media (min-width: 1400px) {
  #about section p:nth-child(1) {
    font-size: xx-large;
  }
}
