#about {
  padding: 2rem 0;
}
#courses {
  padding: 0 1rem;
  display: grid;
  p {
    padding: 0;
  }
  details {
    padding-top: 1rem;
  }
  li {
    padding: 10px 0;
  }
}
#work {
  padding: 2rem 0;
}
@media (min-width: 700px) {
  #about {
    h2 {
      text-align: center;
    }

    p {
      margin: 0 auto;
      font-size: large;
      padding-top: 1rem;
    }
    p:nth-child(4) {
      font-size: larger;
      max-width: 20ch;
      font-style: italic;
    }
    article {
      text-align: center;
      padding: 2rem 0;
      img {
        width: 50%;
      }
    }
  }
  #courses {
    grid-auto-flow: column;
    gap: 5px;
    min-height: 50vh;
  }
  #work {
    text-align: center;
    padding-bottom: 4rem;
  }
  #work p {
    margin: 0 auto;
  }
}
