#buttonUp {
  float: right;
  position: fixed;
  right: 0;
  bottom: 1rem;
  font-size: x-large;
  visibility: hidden;
  border: none;
  border-radius: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.button {
  margin: 10px auto;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  max-width: 75%;
  &:hover {
    box-shadow: 0px 10px 13px -7px #000000;
  }
}

#dark-mode {
  font-size: x-large;
  cursor: pointer;
  box-shadow: none;
}
