:root {
  --backgroundColor: white;
  --blue: #bae8e8;
  --yellow: #ffda06;
  --pink: #272343;
  --text: black;
}

.dark-mode {
  --yellow: #ff8906;
  --backgroundColor: transparent;
  --pink: #d0adf0;
  --text: white;
  --blue: #272343;
}

.button-primary {
  background-color: var(--yellow);
  color: black;
}
nav,
.project-card,
fieldset,
footer {
  background-color: var(--blue);
}
body {
  color: var(--text);
  background-color: var(--backgroundColor);
}
a {
  color: var(--pink);
}
