:root {
  --main-background: white;
  --color-back: #bae8e8;
  --button-highlight: #ffd803;
  --button-Headlines: #272343;
  --text: #2d334a;
}

.dark-mode {
  --main-background: transparent;
  --color-back: black;
  --button-highlight: #ff8906;
  --button-Headlines: #bae8e8;
  --text: #d3d3d3;
  --main-button-text: #272343;
}

main {
  background-color: var(--main-background);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--button-Headlines);
}

a,button{color: var(--button-Headlines);}
a:not(.social-links a, .box-courses a, .project-card a:nth-child(3)):hover,
a:not(.social-links a, .box-courses a, .project-card a:nth-child(3)):active,
a:not(.social-links a, .box-courses a, .project-card a:nth-child(3)):focus,
button:not(form button):hover,
button:not(form button):active,
#sidenav-button {
  color: var(--button-highlight);
}

nav a,
p,
.box-courses a,details {
  color: var(--text);
}

button,
.button {
  //color: var(--button-Headlines);
  box-shadow: 0px 10px 13px -7px gray;
}

nav {
  background-color: var(--color-back);
}

.project-card {
  background-color: var(--color-back);
  a:nth-child(3) {
    color: var(--main-button-text);
    background-color: var(--button-highlight);
  }
}
form button {
  background-color: var(--button-highlight);
}
form {
  background-color: var(--color-back);
}

footer ul {
  border: 2px solid var(--button-Headlines);
}

@media (min-width: 700px) {
  nav {
    border-bottom: 5px solid var(--button-Headlines);
  }
}

@media (min-width: 1000px) {
  nav {
    border-right: 4px solid;
  }
}
