:root {
  --main-background: white;
  --color-back: #bae8e8;
  --button-highlight: #ffd803;
  --button-Headlines: #272343;
  --text: #2d334a;
}

.dark-mode {
  --main-background: transparent;
  --color-back: black;
  --button-highlight: #ff8906;
  --button-Headlines: #bae8e8;
  --text: #d3d3d3;
  --main-button-text: #272343;
}
