
@media (min-width: 700px) {
  form {
    padding: 4rem 0;
    grid-auto-flow: column;
    gap: 0;
    section {
      justify-self: center;
    }
    section p {
      font-size: x-large;
      max-width: 20ch;
      line-height: 50px;
    }
  }
}
@media (min-width: 1000px) {
  fieldset {
    margin: unset;
  }
}
