@use 'buttons';
form {
  display: grid;
  padding-bottom: 1rem;
  section p {
    line-height: 30px;
  }
  @media (min-width: 700px) {
    padding-top: 2rem;
    grid-auto-flow: column;
    gap: 0;
    section {
      justify-self: center;
    }
    section p {
      font-size: large;
      max-width: 20ch;
    }
  }
}

fieldset {
  max-width: 30vw;
  padding: 1rem;
  display: grid;
  gap: 10px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  button {
    @extend .button;
    width: 100%;
  }
}

input,
textarea {
  border-radius: 5px;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 8px 0 red;
}
