/*LAYOUT*/
body {
    min-width: 320px;
    display: grid;
    place-content: center;
    font-family: system-ui;
  }
  
  main {
    padding: 0 1rem;
    display: grid;
    grid-auto-flow: row;
  }
  