
//SIDEBAR
@media (min-width: 1000px) {
  nav {
    grid-column: 1;
    position: initial;
    visibility: visible;
    min-height: 100vh;
  }
}

@media (min-width: 700px) {
  #sidenav-button,
  nav #sidenav-close {
    display: none;
  }
}
