#recentProjects {
  display: grid;
  padding-bottom: 1rem;

  h2 {
    margin-top: 1rem;
  }
  }

.project-card {
  border-radius: 10px;
  padding: 1rem;
  div {
    display: grid;
    grid-auto-flow: row;
  }
}

@media (min-width: 700px) {
  #recentProjects {
    min-height: 90vh;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-right: 1rem;
    h2 {
      font-size: clamp(4rem, 8vw, 100px);
      line-height: 6rem;
      width: min-content;
      justify-self: center;
    }
  }
}
