@use './scss/abstract' as *;
@use './scss/components' as *;


main .w3-button {
  background-color: $eerie-black;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  #recentProjects {
    display: flex;
    gap: 5px;
  }
  .flex {
    display: flex;
  }

  .flex section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1023px) {
  main,
  header,
  footer {
    margin-left: 300px;
  }
  #recentProjects img {
    aspect-ratio: 19/9;
  }
}
