@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body a {
  text-decoration: none;
}
body a:hover {
  cursor: pointer;
}
header {
  background-image: url(./weather.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
header h1 {
  font-family: serif;
  letter-spacing: 2px;
  cursor: pointer;
}
header i {
  cursor: pointer;
  color: black;
}
header input {
  border: none;
  font-size: large;
  background-color: #f8f9fa;
  outline: none;
}
header input:focus {
  background-color: white;
}
main {
  display: none;
  font-family: sans-serif;
}
main ul {
  list-style: none;
}
main tr:hover {
  background-color: whitesmoke;
  cursor: default;
}
.fadeIn {
  display: block;
  animation: fadeIn 1s ease-in;
}
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 27px;
  background: black;
  border-radius: 100px;
  position: relative;
  float: right;
}
label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
input:checked + label {
  background: black;
}
input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
label:active:after {
  width: 45px;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
html[data-theme="dark"] h1,
html[data-theme="dark"] nav,
html[data-theme="dark"] table {
  filter: invert(1);
}
html[data-theme="dark"] body {
  background-color: black;
  color: whitesmoke;
}
html[data-theme="dark"] body .card {
  background-color: #434343;
}
html[data-theme="dark"] body #weatherNext {
  color: #b5b5b5;
}
html[data-theme="light"] h1,
html[data-theme="light"] nav,
html[data-theme="light"] table {
  filter: invert(0);
}
html[data-theme="light"] body {
  background-color: initial;
  color: initial;
}
html[data-theme="light"] body img {
  filter: hue-rotate(0deg);
}
html[data-theme="light"] body .card {
  background-color: initial;
}
html[data-theme="light"] body #weatherNext {
  color: initial;
}
@media (prefers-color-scheme: dark) {
  h1,
  nav,
  table {
    filter: invert(1);
  }
  body {
    background-color: black;
    color: #b5b5b5;
  }
  body .card {
    background-color: #434343;
  }
  body #weatherNext {
    color: #b5b5b5;
  }
}
