$raisin-black: #201b29ff;
$spanish-violet: #452d73ff;
$ghost-white: #f7f5faff;
$eerie-black: #1c1b1cff;
$apple-green: #8abd2bff;



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}




