@use './scss';

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  @media (min-width: 700px) and (max-width: 1000px) {
    scroll-padding-top: 100px;
  }
}
img {
  width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
ul {
  list-style: none;
}
details {
  cursor: pointer;
}
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

/*TYPO*/
h1 {
  font-size: x-large;
}

h2,
h3,
h4,
h5,
h6 {
  padding: 1rem 0;
}
h2,
h3 {
  text-align: center;
}

p {
  border-radius: 10px;
  max-width: 45ch;
  padding-bottom: 1rem;
}
/*LAYOUT*/
body {
  min-width: 320px;
  display: grid;
  place-content: center;
  font-family: system-ui;
}

main {
  padding: 0 1rem;
  display: grid;
  grid-auto-flow: row;
}

@media (min-width: 700px) and (max-width: 1000px) {
  main {
    margin-top: 100px;
  }
}

@media (min-width: 1000px) {
  body {
    place-content: unset;
    grid-template-columns: min-content 1fr;
    font-size: larger;
  }
  main {
    grid-column: 2;
    padding: 0;
  }
  h2 {
    font-size: xx-large;
  }
  h3 {
    font-size: x-large;
  }
}

@media (min-width: 1400px) {
  body {
    font-size: x-large;
  }
}

@media (prefers-reduced-motion: reduce) {
  nav {
    animation: none;
    transition: none;
    transform: none;
  }
  details[open] summary ~ * {
    animation: none;
    transition: none;
    transform: none;
  }
  html {
    scroll-behavior: initial;
  }
}
