@use "./css-components";

#welcomePhoto {
  text-align: center;
  img {
    border-radius: 50%;
    max-width: 50%;
  }
}
#work {
  text-align: center;
}

//ABOUT SECTION
/* #about {
  padding: 4rem 0;
  padding-top: 8rem;
  section{padding-top: 10rem;}
  p {
    font-size: x-large;
  }
  p:nth-child(1) {
    max-width: 20ch;
    font-style: italic;
    margin: initial;
  }
} */

/* #courses {
  padding: 5rem 0;
  p {
    padding: 0;
  }
}
*/
