* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  @media (prefers-reduced-motion) {
    scroll-behavior: initial;
    details[open] summary ~ * {
      animation: none;
    }
  }
}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: system-ui;
}

/* h1 {
  font-size: clamp(25px, 5vw, 75px);
}
h2 {
  font-size: clamp(23px, 5vw, 65px);
}
h3 {
  font-size: clamp(20px, 5vw, 55px);
}
h4 {
  font-size: clamp(18px, 5vw, 45px);
}
h5 {
  font-size: clamp(16px, 5vw, 35px);
} */

/*h1,
h2,
h3 {
  text-align: center;
}


*/

img {
  pointer-events: none;
}

p {
  padding: 1rem;
  max-width: 45ch;
  margin: 0 auto;
}

a {
  text-decoration: none;
  opacity: 0.7;
  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}

ul {
  list-style: none;
}
