---
import PageLayout from "../layouts/PageLayout.astro";
import Config from "../sarissa.config.cjs";
import FavTools from "../components/favTools.astro";
---

<PageLayout pageTitle={Config.menu?.about ?? "About"}>
  <article class="prose max-w-none">
    <p>
      Hello! I'm Panagiotis and I'm currently working in the automobile
      industry. <br>
      In April 2020, I joined <a href="https://www.codecademy.com/" target="_blank">Codecademy</a> and started studying
      Web-Development. In May 2021, I joined <a href="https://www.frontendmentor.io/" target="_blank">Frontend Mentor</a>, a site where I can
      practice frontend development by building projects.
    </p>

    <p>
      I've taken a full-stack course on web development. It goes through from
      the basics to advanced front-end development and continues with back-end
      web development like servers, databases, SQL, and APIs. <br />
      <small><em>Started on April 2020, 62% completed</em></small>
    </p>

    <p>
      I've taken also a course dedicated to front-end web development. This
      course explores advanced web development tools such as working with the
      React framework, advanced JavaScript, testing tools, algorithms, and more.
      <br />
      <small><em>Started on December 2020, 50% completed</em></small>
    </p>

    <p>
      Up until today, my experience in coding comes from working on my own
      projects, on projects/tasks during my courses on Codecademy, and from front-end challenges at frontendmentor.io. <br />
      Since 2021 I started working on real projects, putting my knowledge into action.
      Participating in other people's projects has given me valuable experience.
    </p>
    <FavTools/>

    <p>
      I love making new friends in the developer community and seeing how we can
      help and learn from each other. <br />
      Feel free to <a href="https://github.com/PanuGr">connect with me</a>!
    </p>
  </article>
</PageLayout>
