<p>Here are the tools and technologies that I've been working with:</p>
<section class="flex gap-2 items-center flex-wrap">
  <i class="fa-brands fa-html5 fa-2xl"></i>
  <ion-icon size="large" name="logo-css3" />
  <ion-icon size="large" name="logo-javascript" />
  <ion-icon size="large" name="logo-sass" />
  <ion-icon size="large" name="logo-github" />
  <ion-icon size="large" name="logo-chrome"></ion-icon>
  <svg
    class=""
    viewBox="0 0 640 512"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    ><g fill="currentColor">
      <title>logo Snowpack</title>
      <path
        d="M635.92,462.7 L347.92,14.7 C342.03,5.54 331.89,0 321,0 C310.11,0 299.97,5.54 294.08,14.7 L6.08,462.7 C-0.250773249,472.547007 -0.699487627,485.064987 4.91,495.34 C10.522069,505.612419 21.2945349,512 33,512 L609,512 C620.71,512 631.48,505.61 637.09,495.33 C642.699457,485.058495 642.250708,472.543372 635.92,462.7 Z M321,91.18 L406.39,224 L321,224 L257,288 L218.94,249.94 L321,91.18 Z"
      ></path>
    </g>
  </svg>
  <svg
    class=""
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 18 26"
    ><title>logo Skypack</title><path
      d="M17.387 12.213L10.95 9l6.438-3.212c.3-.15.487-.45.487-.788a.875.875 0 00-.488-.788l-8-4a.874.874 0 00-.787 0l-8 4c-.3.15-.487.45-.487.788v8c0 .3.162.588.412.75l.075.037L7.038 17 .6 20.212c-.3.15-.487.45-.487.788 0 .337.187.637.487.788l8 4a.874.874 0 00.388.087.874.874 0 00.387-.087l8-4c.3-.15.488-.45.488-.788v-8a.842.842 0 00-.476-.787zM9 1.975L15.037 5 9 8.025 2.963 5 9 1.975zM1.875 6.413L7.038 9l-5.163 2.588V6.413zM2.963 13L9 9.975 15.037 13 9 16.025 2.963 13zm5.162 5.413v5.162l-5.162-2.587 5.162-2.575zm8 2.05l-6.25 3.124V17.55l6.25-3.125v6.037z"
    ></path>
  </svg>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="40"
    height="32"
    class="d-block my-1"
    viewBox="0 0 118 94"
    role="img"
    ><title>logo Bootstrap</title><path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
      fill="currentColor"></path>
  </svg>
  <img
    src="/vscode.webp"
    width="30"
    height="32"
    alt="logo VScode"
    title="logo VScode"
  />
  <img src="/astro.webp" height="32" alt="logo astro" title="logo Astro" />
  <img
    src="/tailwind.webp"
    width="32"
    height="32"
    alt="logo Tailwind"
    title="logo Tailwind"
  />
  <img
    src="/supabase.webp"
    width="32"
    height="32"
    alt="logo Supabase"
    title="logo Supabase"
  />
  <img
    src="/squoosh.webp"
    width="32"
    height="32"
    alt="logo Squoosh"
    title="logo Squoosh"
  />
  <img
    src="/brave.webp"
    width="32"
    height="32"
    alt="logo Brave"
    title="logo Brave"
  />
</section>

<style>
  svg,
  img {
    max-width: 40px;
    height: 32px;
    filter: grayscale(1);
  }
</style>
