---
import Config from "../sarissa.config.cjs";
---

<div class="pt-4">
  <ul class="menu bg-base-100 rounded-box">
    <li>
      <a href="/">
        <ion-icon name="home-outline"></ion-icon>
        {Config.menu?.home ? Config.menu.home : "Home"}
      </a>
    </li>
    <li>
      <a href="/about">
        <ion-icon name="person-outline"></ion-icon>
        {Config.menu?.about ? Config.menu.about : "About"}
      </a>
    </li>
    <li>
      <a href="/category/portfolio/1">
        <ion-icon name="briefcase-outline"></ion-icon>
        {Config.menu?.portfolio ? Config.menu.portfolio : "Portfolio"}
      </a>
    </li>
    <li>
      <a href="/categories">
       <ion-icon name="documents-outline"></ion-icon>
        {Config.menu?.categories ? Config.menu.categories : "Categories"}
      </a>
    </li>
    <li>
      <a href="/search">
        <ion-icon name="search-outline"></ion-icon>
        {Config.menu?.search ? Config.menu.search : "Search"}
      </a>
    </li>
    <li>
      <a href="/archive">
        <ion-icon name="archive-outline"></ion-icon>
        {Config.menu?.archive ? Config.menu.archive : "Archive"}
      </a>
    </li>
  </ul>
</div>
