@use "../scss";

body {
  overflow-x: hidden;
}
h1 {
  font-size: clamp(30px, 10vw, 90px);
  padding: 1rem 0;
}

h2 {
  font-size: clamp(25px, 5vw, 40px);
  padding: 1rem 0 0.5rem 0;
  width: 50vw;
  margin: auto;
}

h1,
h2,
h3 {
  text-align: center;
}
section {
  width: 85vw;
  padding: 1rem;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.project-card {
  flex: 0 1 400px;
}

@media (min-width: 1024px) {
  /*  h1 {
    text-decoration: underline;
  } 

  summary {
    text-align: center;
  }*/
}
