@use "../css-components";

body {
  overflow-x: hidden;
}
h1 {
  font-size: clamp(30px, 10vw, 90px);
  padding: 1rem 0;
}

h2 {
  font-size: clamp(25px, 5vw, 40px);
  padding: 1rem 0 0.5rem 0;
  width: 50vw;
  margin: auto;
}

h1,
h2,
h3 {
  text-align: center;
}
section {
  padding: 1rem;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.project-card {
  max-width: 320px;
}

@media (max-width: 1000px) {
  :is(#css, #javascript)div:nth-child(5),
  div:nth-child(6) {
    display: none;
  }
}
@media (max-width: 700px) {
  :is(#css, #javascript) div:nth-child(5),
  div:nth-child(6),
  div:nth-child(4),
  div:nth-child(3) {
    display: none;
  }
}
