@use "./scss";

/* h1 {
  //font-size: clamp(30px, 10vw, 90px);
  text-align: center;
}

h2 {
 //font-size: clamp(25px, 5vw, 40px);
}
h1,
h2,
h3 {
  text-align: center;
} */

@media (prefers-reduced-motion: reduce) {
  details[open] summary ~ * {
    animation: none;
  }
  html {
    scroll-behavior: initial;
  }
}

@media (max-width: 1000px) {
  nav {
    width: 100vw;
  }
}

@media (min-width: 1024px) {
  html {
    scroll-padding-top: unset;
  }
  body {
    grid-template-columns: 10vw 1fr;
  }
  main {
    margin-top: initial;
  }
 /*  h1 {
    text-decoration: underline;
  } */
  nav {
    position: initial;
    display: block;
    font-size: large;
  }
  .navbar {
    position: fixed;
    flex-direction: column;
    transform: translateY(100px);
    align-items: flex-start;
  }
  .dark-switch {
    position: fixed;
    left: 10px;
    top: 10vw;
  }
  summary {
    text-align: center;
  }
}
