:root {
  --backgroundColor: white;
  --text: black;
  /* --blue: #bae8e8;
  --yellow: #ffda06;
  --pink: #272343; */
  @media (prefers-color-scheme) {
    --backgroundColor: transparent;
    --text: white;
    /* --yellow: #ff8906;
    --pink: #d0adf0;
    --blue: #272343; */
  }
}

/* .button-primary {
  background-color: var(--yellow);
  color: black;
}
nav,
.project-card,
fieldset,
footer {
  background-color: var(--blue);
}
body {
  color: var(--text);
  background-color: var(--backgroundColor);
}
a {
  color: var(--pink);
} */
