$title: "Indie Flower", cursive;
$text: "Ubuntu Mono", monospace;
$royal-blue-dark: #10316bff;
$jasmine: #ffdc7aff;
$rich-black: #17141d;
$dark-purple: #2a152dff;

//GENERAL STYLING
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus {
    outline: 2px solid $jasmine;
  }
}
span {
  color: $jasmine;
}
body {
  text-align: center;
  background-color: $rich-black;
  background-image: linear-gradient(to bottom, $rich-black, $royal-blue-dark);
  color: whitesmoke;
  //height: 100vh;
  font: {
    family: $text;
    size: clamp(15px, 2vw, 2rem);
  }
}

h1,
h2 {
  font: {
    family: $title;
    size: clamp(1.5rem, 3vw, 4rem);
  }
  letter-spacing: 4px;
}
p {
  line-height: 1em;
  max-inline-size: 75ch;
  letter-spacing: 2px;
}

a {
  font-family: $title;
  color: $jasmine;
  text-decoration: none;
  &:hover,
  :active,
  :focus {
    color: white;
    background: $rich-black;
    border-radius: 50px;
    transition: background-color ease-in 200ms;
  }
}

//ELEMENTS-STYLE
header {
  margin-top: clamp(6rem, 10vw, 10rem);
  section {
    background: $rich-black;
    margin: 5px 0;
    border-radius: 1rem;
    p {
      padding: 1em 0;
    }
  }
}
@media (min-width: 600px) {
  header {
    margin-top: clamp(6rem, 10vw, 10rem);
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    section {
      margin: 0;
      display: flex;
      position: relative;
      flex-direction: column;
      min-width: 250px;
      box-shadow: -1rem 0rem 3rem rgba(255, 220, 122, 0.2);
      transition: 500ms;
      padding: 1rem;
      &:first-child {
        box-shadow: none;
      }
      &:hover {
        transform: translateY(-1rem);
      }
      &:hover ~ section {
        transform: translateX(150px);
      }
      &:not(:first-child) {
        margin-left: -130px;
      }
      img {
        margin: 0 auto;
        width: 70%;
      }
    }
  }
}
