@keyframes sweep-open { 0% { opacity: 0;
    margin-top: -10px; }
  100% { opacity: 1;
    margin-top: 0; } }

@keyframes sweep-close { 0% { opacity: 1;
    margin-top: 0; }
  100% { opacity: 0;
    margin-top: -10px; } }

@media (prefers-reduced-motion) { details[open] summary ~ * { animation: none; } }

body { min-width: 320px; max-width: 2000px; margin: auto; color: initial; background-color: initial; }

img { pointer-events: none; }

p { max-inline-size: 75ch; }

header { background-image: url("pictures/blob-scene-dark.svg"); background-repeat: no-repeat; background-size: cover; display: grid; gap: 2rem; place-content: center; }

header img { justify-self: center; }

header p { max-inline-size: 45ch; }

.buttonUp { position: fixed; right: 10px; bottom: 1rem; font-size: large; visibility: hidden; border: none; border-radius: 20px; cursor: pointer; text-transform: capitalize; padding: 0.5rem; z-index: 1; }

details { cursor: pointer; }

details summary { text-decoration: underline; }

details a { padding-left: 1rem; display: block; margin: 0 auto; max-width: 45ch; }

details[open] summary ~ * { animation: sweep-open 0.5s ease-in-out; }

details[close] summary ~ * { animation: sweep-close 1s ease-in-out; }

@media (min-width: 1440px) { header, main { font-size: larger; } }
