:root {
  --bs-body-bg: black;
  --bs-body-color: white;
  --yellow: #ffda06;
  --dark-blue: #272343;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@media (prefers-reduced-motion) {
  details[open] summary ~ * {
    animation: none;
  }
}

///////////////////////////////GENERAL STYLES//////////////////////////////////////////////

body {
  min-width: 320px;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
}

p,
ul,
ol {
  font-family: sans-serif;
}

img,
picture {
  pointer-events: none;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}
a p {
  max-inline-size: 75ch;
}
a {
  color: var(--yellow);
  &:hover,
  &:focus,
  &:active,
  &:visited {
    opacity: 0.7;
    color: var(--yellow);
  }
}

////////////////////ELEMENTS STYLE////////////////////////////

header {
  background-image: url("pictures/blob-scene-dark.svg");
  background-repeat: no-repeat;
  background-size: cover;

  a {
    color: black;
    background-color: var(--yellow);
    &:hover,
    &:focus,
    &:active,
    &:visited {
      opacity: 0.7;
      color: black;
    }
  }
}

.buttonUp {
  position: fixed;
  right: 10px;
  bottom: 1rem;
  font-size: large;
  visibility: hidden;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-transform: capitalize;
  padding: 0.5rem;
  z-index: 1;
}
.bg-dark-blue{background-color:var(--dark-blue);}
.bg-black{background-color: black;}

details {
  cursor: pointer;
  summary {
    text-decoration: underline;
  }
  a {
    padding-left: 1rem;
    display: block;
    margin: 0 auto;
    max-width: 45ch;
  }
}
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

li {
  padding-bottom: 1rem;
}

main p {
  line-height: 2;
}

@media (min-width: 1440px) {
  header,
  main {
    font-size: clamp(20px, 1vw, 30px);
  }
  header ul {
    max-width: 75%;
  }
}
